@charset "UTF-8";

	body, *{
		margin:0;
		padding:0;
		background-color:black;
		color:white;
		font-size:13px;
	}
	body{
		height:100%;
	}
	#boardDetail-layer section {
		width:70%;
		margin: 0 auto;
	}
	#boardDetail-layer h1{
		text-align: center;
	}
 	#title{
		margin:30px;
		text-align:center;
		border:none;
	} 
	#dateTime{
	    text-align: center;
	    margin:15px 0px 30px 0px;
	}
	#subTitle{
		display:flex;
		flex-direction:row;
		justify-content: space-between;
		margin: 10px 0px;
		padding:0px 15px;
	}
	#content{
		resize:none;
		margin:0 auto;
		width:100%;
		border:none;
	}
	#chk1, #chk2{
		margin-left:12px;
	}
	#writer{
		width:100px;
		text-align:right;
	}
	#boardDetail-layer .btn-style{
		float: right;
		padding: 4px 20px;
	    border-radius: 0.25rem;
		border:none;
		background-image: -webkit-linear-gradient(top,#000000,rgb(125,77,135) 70%);
	}